{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% load filters %}

{% block content %}

<div class="accordion" id="accordionPlaybook">
    <div class="accordion-item">
        <h2 class="accordion-header" id="inventoryAccordionHeader">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Inventory
          </button>
          
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="inventoryAccordionHeader" data-bs-parent="#accordionPlaybook">
          <div class="accordion-body">
              <table class="table caption-top">
                  <caption>Hosts 
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addHostModal">
                        Add Host
                    </button>
                  </caption>
                  <thead> 
                    <tr>
                        <th>Host</th>
                        <th>Groups</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for name, host in playbookRepository.inventoryRepository.inventory.hosts.items %}
                          <tr>
                              <td>{{name}}</td>
                              <td>{{host.groups|not_in:"all,ungrouped"|list_to_string:" "}}</td>
                              <td>actions</td>
                          </tr>
                      {% endfor%}
                  </tbody>
              </table>
              <table class="table caption-top">
                <caption>Groups</caption>
                <thead> 
                    <tr>
                        <th>Group</th>
                        <th>Hosts</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for name, group in playbookRepository.inventoryRepository.inventory.groups.items %}
                            {% if name not in 'all,ungrouped' %}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{group.hosts|list_to_string:" "}}</td>
                                    <td>actions</td>
                                </tr>
                            {% endif %}
                      {% endfor %}
                  </tbody>
              </table> 
          </div>
        </div>
      </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="playbookFiles">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Playbook Files
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="playbookFiles" data-bs-parent="#accordionPlaybook">
        <div class="accordion-body">
            <table class="table">
                <tbody>
                    {% for playbookFile in playbookRepository.playbooks %}
                        <tr>
                            <td>{{playbookFile|get_item:"_file_name"|basename}}</td>
                            <td>@mdo</td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>  
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="roles">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
</div>

<!-- Modal -->
<!-- addHostModal -->
<form method="post" action="{% url 'repository:host_add' playbookRepository.repository.id %}">
    {% csrf_token %}
<div class="modal fade" id="addHostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addHostTitle">Add Host</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="hostForm" class="form-label">Host</label>
                <input type="text" name="host" class="form-control" id="host" aria-describedby="host">
                <div class="input-group">
                  <select id="inventoryParameterSelect" class="form-select" aria-label="Parametro de inventorio">
                    <option selected>Selecione um parâmetro de inventorio</option>
                    {% for InventoryParameter in inventoryParameters %}
                      <option value="{{InventoryParameter.id}}">{{InventoryParameter.name}}</option>
                    {% endfor%}
                  </select>
                  <button id="typeParameterButton" class="btn btn-outline-secondary" type="button" onclick="addInventoryParameter(this)">Adicionar</button>
                </div>
                <div class="card">
                  <div class="card-header">
                    Inventory Parameters
                  </div>
                  <div class="card-body">
                    <div id="inventoryParameterDiv" class="input-group">

                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary"> Create </button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- joinGroupHostModal -->
<form method="post" action="{% url 'repository:host_join_group' playbookRepository.repository.id %}">
  {% csrf_token %}
<div class="modal fade" id="joinGroupHostModal" tabindex="-1" aria-labelledby="joinGroupHostModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addHostTitle">Join Groups</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <input type="hidden" name="host"> 
          <select name="groups" class="form-select" multiple aria-label="Select groups">
            {% for name, group in playbookRepository.inventoryRepository.inventory.groups.items %}
              {% if name not in 'all,ungrouped' %}
                <option value="{{group}}">{{name}}</option> 
              {% endif %}
            {% endfor %}
          </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"> Create </button>
      </div>
    </div>
  </div>
</div>
</form>
<script>

  function removeInventoryParameter(id){
    var elem = document.getElementById(id);
    elem.parentNode.removeChild(elem);
  }

  function addInventoryParameter(button){
    var base_url = window.location.origin;
    var id = document.getElementById("inventoryParameterSelect").value;
    var url = base_url+'/iac/inventoryParameter/'+id;
    
    var xhrobj = new XMLHttpRequest();
    xhrobj.open('GET',url);
    xhrobj.send();

    xhrobj.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        var idParameter = id+'_div_parameter';
        var htmlDiv = '<div id="'+idParameter+'" class="input-group"> '+ xhrobj.responseText;
        htmlDiv += '<button class="btn btn-outline-secondary" type="button" onclick="removeInventoryParameter(\''+idParameter+'\')"><span class="bi-trash"></span></button>'
        htmlDiv += '</div>'
        document.getElementById("inventoryParameterDiv").innerHTML += htmlDiv;
      }
    }
  }
</script>


{% endblock %}