<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'autoticket:home' %}">Autoticket</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'autoticket:ticket' %}">Solicitações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'autoticket:catalog' %}">Catalogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'repository:repo' %}">Repositorio</a>
          </li>
        </ul>
        {# Profile/login button #}
        <div class="col-3 d-flex flex-grow-1 pe-0 justify-content-end">
            {% include 'base/profile_button.html' %}
        </div>
      </div>

    </div>
</nav>
</div>