{% extends "base/base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row justify-content-end" >
    <div class="col-10"></div>
    <div class="col-2">
        {% if perms.autoticketapp.add_service %}
        <a href="{% url 'autoticket:service_add' %}" type="button" class="btn btn-sm btn-success">
            <i class="mdi mdi-plus-thick"></i> Adicionar
        </a>
        {% endif %}
    </div>
</div>
<div class="row align-items-center" >
    {% render_table table %}
</div>
{% endblock %}