{% extends 'base/base.html' %}
{% load crispy_forms_tags %}    

{% block title %}Alterar Senhar{% endblock %}

{% block content %}
    <form action="." method="post" class="form form-horizontal col-md-8 offset-md-2">
        {% csrf_token %}
        <div class="field-group">
            <h5 class="text-center">Password</h5>
            {{ form.old_password|as_crispy_field }}
            {{ form.new_password1|as_crispy_field }}
            {{ form.new_password2|as_crispy_field }}
        </div>
        <div class="text-end">
            <a href="{% url 'autoticket:home' %}" class="btn btn-outline-danger">Cancelar</a>
            <button type="submit" name="_update" class="btn btn-primary">Salvar</button>
        </div>
    </form>
{% endblock %}
